.sidebar {
    width: 230px;
    min-height: 100vh;
    padding: 20px;
    background: #1e1e2f;
    color: #fff;
    position: fixed;
}

.sidebar .logo {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 25px;
}

.sidebar .menu {
    list-style: none;
    padding: 0;
}

.sidebar .menu li {
    margin-bottom: 12px;
}

.sidebar .menu a {
    color: #ddd;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 8px 10px;
    border-radius: 6px;
    transition: 0.2s;
}

.sidebar .menu a:hover,
.sidebar .menu .active a {
    background: #27293d;
    color: #00eaff;
}
